.production-content {
    margin: 0 0 0 3%;
    background-color: white;
    width: 90%;
}

.production-table {
    width: 100% !important;
    position: relative !important;
    border-collapse: collapse;
    left: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
}

.production-table thead th {
    font-size: 2vh;
}

.production-table tr {
    border-bottom: 1px solid black;
}

.awf-sequence-got-over {
    background-color: #74747d;
}

.awf-sequence-in-place {
    background-color: #5e953c;
}

.awf-sequence-waiting {
    background-color: #a9adad;
}
