html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #777;
    color: #000;
}

.container {
    margin: 1%;
    padding: 0;
    width: 100%;
}

.timer {
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: xx-large;
    float: right;
    position: fixed;
    left: 0;
    bottom: 0;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title-svg {
    width: 30%;
    margin-left: 3vh;
    margin-top: 4vh;
}

.title-image {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 3vh;
    margin-top: 1vh;
    object-fit: cover;
}

.shift-management-table {
    width: 90%;
    position: absolute;
    left: 1%;
    right: auto;
    top: 35%;
    bottom: auto;
    margin-left: 6vh;
    font-size: xx-large;
    padding: 2vh 4vh;
}

.shift-management-table td {
    text-align: center;
}

.start-shift {
    background-color: white;
    top: 37% !important;
}

.start-shift td {
    border-bottom: 1px solid black;
}

.start-shift tbody th {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.button {
    padding: 3vh 5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2vh;
    font-size: xxx-large;
}

a.button-small {
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2vh;
    font-size: x-large;
}

a.button-blue:link, a.button-blue:visited {
    background-color: #537ade;
    color: white;
}

a.button-blue:hover, a.button-blue:active {
    background-color: #1d47d7;
    color: white;
}

a.button-red:link, a.button-red:visited {
    background-color: #de5b53;
    color: white;
}

a.button-red:hover, a.button-red:active {
    background-color: #f44336;
    color: white;
}

a.button-green:link, a.button-green:visited {
    background-color: #529d52;
    color: white;
}

a.button-green:hover, a.button-green:active {
    background-color: #21811a;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a.back {
    float: right;
    margin-right: 5vh;
    margin-bottom: 3vh;
    padding: 1vh 3vh;
    font-size: x-large;
}

a.back:link, a.back:visited {
    background-color: #ef665c;
    color: white;
}

a.back:hover, a.button-blue:active {
    background-color: #c74f48;
    color: white;
}

.table-content {
    position: absolute;
    top: 18vh;
    width: 100%;
    background-color: white;
}

.dataTable {
    width: 100% !important;
    font-size: x-large;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate
{
    font-size: x-large;
    margin: 1vh;
}

.dataTables_length select {
    font-size: large;
}

.datatable-action {
    text-align: center;
}

.datatable-action a {
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #537ade;
    color: white;
    padding: 1vh 2vh;
    font-size: large;
}

.datatable-action a:hover, .datatable-action a:active {
    background-color: #1d47d7;
    color: white;
}

.dataTable tbody tr {
    text-align: center;
}
.dataTable tbody .even {
    background-color: #ddd;
}