.image {
    height: 55vh;
    margin-left: 13%;
    margin-top: -5%;
}

.bottom-closer {
    margin-top: 4% !important;
}

.timer-closer {
    margin-top: 3vh !important;
}

.timer {
    font-size: 11vh !important;
}

.centered {
    text-align: center;
}

.countdown {
    position: absolute;
    top: 30%;
    font-size: xxx-large;
    left: 35%;
    background-color: #3ebd94;
}

.countdown-success-sign {
    height: 40%;
    width: 40%;
    margin-left: 15vh;
}

